<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
<div id="app">
    <form @submit.prevent="addCard">
        <label for="card-title">Введите название заметки</label>
        <input id="card-title" type="text" v-model="newCardTitle">

        <label for="card-items">Добавьте пункты к списку(с новой строки):</label>
        <textarea id="card-items" v-model="newItemText"></textarea>

        <button type="submit">Создать заметку</button>
    </form>
    <div class="column">
        <h2>Запланировано</h2>
        <div v-for="card in column1" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)">
                    <span :class="{ completed: item.completed }">{{ item.text }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="column">
        <h2>В процессе</h2>
        <div v-for="card in column2" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)">
                    <span :class="{ completed: item.completed }">{{ item.text }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="column">
        <h2>Выполнено</h2>
        <div v-for="card in column3" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <input type="checkbox" v-model="item.completed">
                    <span :class="{ completed: item.completed }">{{ item.text}}</span>
                </li>
            </ul>
            <div v-if="card.completedDate">
                Последняя отметка пункта: {{ card.completedDate }}
            </div>
        </div>
    </div>
</div>

</body>

</html>