<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
<div id="app">
    <div class="column">
        <h2>Запланировано</h2>
        <button v-if="!showForm" @click="showForm = !showForm">+</button>
        <button v-else @click="showForm = !showForm">-</button>
        <form v-if="showForm" @submit.prevent="addCard">
            <label for="card-title">Введите название заметки</label>
            <input id="card-title" type="text" v-model="newCardTitle">
        
            <button v-if="!showItemForm" @click="showItemForm = !showItemForm">Добавить пункты</button>
            <div v-if="showItemForm">
                <label for="card-items">Добавьте пункты к списку:</label>
                <div v-for="(item, index) in newItemText" :key="index">
                    <input type="text" v-model="newItemText[index]">
                </div>
                <button type="button" @click="addItem">Добавить пункт</button>
            </div>
        
            <button type="submit">Создать заметку</button>
        </form>
        <div v-for="card in column1" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <label class="item">
                        <span :class="{ completed: item.completed }">{{ item.text }}</span>
                        <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)">
                    </label>
                </li>                
            </ul>
        </div>
    </div>
    <div class="column">
        <h2>В процессе</h2>
        <div v-for="card in column2" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <label class="item">
                        <span :class="{ completed: item.completed }">{{ item.text }}</span>
                        <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)">
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="column">
        <h2>Выполнено</h2>
        <div v-for="card in column3" :key="card.id" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="item in card.items" :key="item.id">
                    <label class="item">
                        <span :class="{ completed: item.completed }">{{ item.text }}</span>
                        <input type="checkbox" v-model="item.completed" @change="handleCardPosition(card)">
                    </label>
                </li>
            </ul>
            <div v-if="card.completedDate">
                Последняя отметка пункта: {{ card.completedDate }}
            </div>
        </div>
    </div>
</div>
</body>
</html>